
body{
    text-align: center;
    font-family: sans-serif;
}
hr{
border-style: none;
border-top-style: dotted;
border-color: yellow;
border-width:5px;
width:5%;
}

h1{
    width: 10px;
    margin: 0px auto 0px auto;
    font-size: xx-large;
color: #256D85;
}

.hel:hover{
       color:gold !important;  
}

h1:hover{
    color:blue;
}

.hw{
  margin-left: 40px;
}

.topdiv{
    background-color: red;
    height:200px;
    width:200px;
}
.botdiv{
    background-color: blue;
    height:200px;
    width:200px;
}
.middiv{
    background-color: green;
    height:200px;
    width:200px;
}

#belo{
 background-color:blue;
}

.helo{
    background-color: pink;
}

span{
    background-color: black;
}